body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: larger;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: underline;
    color: #ffffff;
}

a:hover {
    color: #aaaaaa;
}

.blink-icon {
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}