body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: larger;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

a {
    color: #ffffff;
}

a:hover {
    color: #aaaaaa;
}
