<div class="row footer fixed-bottom p-2">
    <hr>
    <div class="col text-center">
        <a routerLink="/user/1">
            <h3>
                <i class="bi bi-person"></i>
            </h3>
        </a>
    </div>
    <div class="col text-center">
        <a routerLink="/home">
            <h3>
                <i class="bi bi-list-task"></i>
            </h3>
        </a>
    </div>
    <div class="col text-center">
        <a routerLink="/post">
            <h3>
                <i class="bi bi-pencil"></i>
            </h3>
        </a>
    </div>
    <div class="col text-center">
        <a routerLink="/settings">
            <h3>
                <i class="bi bi-gear"></i>
            </h3>
        </a>
    </div>
</div>